extends layout.jade 

block content 
    section.container 
        div.item.log
        div.item
            h1 
                a(href="/")= title
        div.item
            form.form(method= "POST", action="/actualizar/#{data[0].movie_id}")
                fieldset 
                    div.container.p1
                        label.item.i-b.v-top.ph3(for="movie_id") Id pelicula;
                        input.item.i-b.v-top.ph9#movie_id(type="text", name= "movie_id", value= "#{data[0].movie_id}" required) 
                    
                    div.container.p1
                        label.item.i-b.v-top.ph3(for="title") Titulo;
                        input.item.i-b.v-top.ph9#titulo(type="text", name= "title", value= "#{data[0].title}" required)

                    div.container.p1 
                        label.item.i-b.v-top.ph3(for="estreno") Fecha de estreno;
                        input.item.i-b.v-top.ph9#estreno(type="text", name= "estreno", value= "#{data[0].estreno}" required)

                    div.container.p1 
                        label.item.i-b.v-top.ph3(for="rating") Puntaje;
                        input.item.i-b.v-top.ph9#rating(type="text", name= "rating", value= "#{data[0].rating}" required)

                    div.container.p1 
                        label.item.i-b.v-top.ph3(for="image") Poster de la peli;
                        input.item.i-b.v-top.ph9#image(type="text", name= "image", value= "#{data[0].image}" required)

                    div.container.p1
                        input.item.button.edit(type="submit", value="Editar")     