extends layout.jade 

block content 
    section.container 
        div.item.log
        div.item
            h1 
                a(href="/")= title
        div.item
            form.form(method= "POST", action="/actualizar/#{data[0].cliente_id}")
                fieldset 
                    div.container.p1
                        label.item.i-b.v-top.ph3(for="cliente_id") Numero de cliente;
                        input.item.i-b.v-top.ph9#id(type="text", name= "id", value= "#{data[0].cliente_id}", disabled, required) 
                        input.item.i-b.v-top.ph9#cliente_id(type="hidden", name= "cliente_id", value= "#{data[0].cliente_id}", required) 
                    
                    div.container.p1
                        label.item.i-b.v-top.ph3(for="nombre") Nombre;
                        input.item.i-b.v-top.ph9#nombre(type="text", name= "nombre", value= "#{data[0].nombre}" required)

                    div.container.p1 
                        label.item.i-b.v-top.ph3(for="apellido") Apellido;
                        input.item.i-b.v-top.ph9#apellido(type="text", name= "apellido", value= "#{data[0].apellido}" required)

                    div.container.p1 
                        label.item.i-b.v-top.ph3(for="edad") Edad;
                        input.item.i-b.v-top.ph9#edad(type="text", name= "edad", value= "#{data[0].edad}" required)

                    div.container.p1 
                        label.item.i-b.v-top.ph3(for="foto") Foto del cliente;
                        input.item.i-b.v-top.ph9#foto(type="text", name= "foto", value= "#{data[0].foto}" required)

                    div.container.p1 
                        label.item.i-b.v-top.ph3(for="direccion") Direccion;
                        input.item.i-b.v-top.ph9#direccion(type="text", name= "direccion", value= "#{data[0].direccion}" required)

                     div.container.p1 
                        label.item.i-b.v-top.ph3(for="telefono") Telefono;
                        input.item.i-b.v-top.ph9#telefono(type="text", name= "telefono", value= "#{data[0].telefono}" required)

                    div.container.p1
                        input.item.ph4.button.edit(type="submit", value="Editar")     