<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Ingreso</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" >
    <link href="../public/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">    
  <main class="form-signin w-100 m-auto">
    <form action="/loginOk" method="POST">
      <h1 class="h3 mb-3 fw-normal">Por favor ingrese los siguientes datos</h1>

      <div class="form-floating">
        <input type="text" class="form-control" name="mail" id="floatingInput" placeholder="name@example.com" required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
  </main>    
  <script src="sweetalert2.min.js"></script>
   {{#if alerta.alert}}
    <script>
      Swal.fire({
        title:{{alerta.title}},
        text: {{alerta.text}},
        icon: {{alerta.icon}},
        showConfirmButton: {{alerta.showConfirmButton}},
        timer: {{alerta.timer}}
      }).then(()=>{
        window.location= '/{{alerta.ruta}}';
      })
    </script>

   {{/if}}

</body>
</html>
